# Django
DJANGO_SETTINGS_MODULE=config.settings
DJANGO_SECRET_KEY=django-insecure-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=America/Los_Angeles
DJANGO_PORT=8100

# Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5434
POSTGRES_DB=lego_commerce_platform
POSTGRES_USER=lego
POSTGRES_PASSWORD=localdev

# Redis / Celery
REDIS_URL=redis://redis:6379/0
REDIS_PORT=6379
REDIS_HOST_PORT=6380
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
